rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // usersコレクションのuserIdキーのオブジェクト権限設定
    match /users/{userId} {
      // ログインしていたら読込できる
      allow read: if request.auth.uid != null;
      // ログインしていなくても作成できる
      allow create;
      // ログイン中(自分)のuserIdだったら更新,削除できる
      allow update: if request.auth.uid == userId;
      allow delete: if request.auth.uid == userId;
    }

    match /products/{productId} {
      // 商品情報は管理者のみ変更できるようにしたほうが良いが、今は認証できれいれば良しとする
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid != null;
    }
  }
}

// firebase deploy --only firestore:rules