@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family:  '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3','ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
}

.c-section-container {
  margin: 0 auto;
  max-width: 400px;
  padding: 1rem;
  height: auto;
  width: calc(100% - 2rem);
}

.u-text__headline {
  color: #000;
  font-size: 1.563rem;
  margin: 0 auto 1rem auto;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-display-none {
  display: none;
}

.module-spacer--medium {
  height: 32px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.c-section-container {
  margin: 0 auto;
  max-width: 400px;
  padding: 1rem;
  height: auto;
  width: calc(100% - 2rem);
}